<mat-card class="user-details">
    <mat-card-header>
        <img mat-card-image src="{{ selectedUser.picture.large }}" alt="Profile picture">
    </mat-card-header>
    <mat-card-content>
        <h3>{{ selectedUser.name.first }} {{ selectedUser.name.last }}</h3>
        <p>
            <span class="info-label">Age:</span> {{ selectedUser.dob.age }}
        </p>
        <p>
            <span class="info-label">Nationality:</span> {{ selectedUser.nat }}
        </p>
        <p>
            <span class="info-label">Phone number:</span>
            {{ selectedUser.phone }}
        </p>
        <p>
            <span class="info-label">Cellphone:</span>
            {{ selectedUser.cell }}
        </p>
        <p>
            <span class="info-label">Email:</span>
            {{ selectedUser.email }}
        </p>
        <p>
            <span class="info-label">Address:</span>
            {{ selectedUser.location.street.name }}, {{ selectedUser.location.street.number }}
        </p>
        <p>
            <span class="info-label">City:</span>
            {{ selectedUser.location.city }}, {{ selectedUser.location.postcode }}, {{ selectedUser.location.state }}
        </p>
        <p>
            <span class="info-label">Country:</span> {{ selectedUser.location.country }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Contact</button>
    </mat-card-actions>
</mat-card>
