
<form>
    <label id="radio-group-label">Select the gender</label>
    <mat-radio-group aria-labelledby="radio-group-label"
        name="radio-group"
        class="radio-group"
        [(ngModel)]="selectedGender"
        (change)="selectedGenderChanged($event)"
    >
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
        <mat-label>Nationalities</mat-label>
        <mat-select [formControl]="nationalities"
            multiple
            [(ngModel)]="selectedNationalities"
            (selectionChange)="selectedNationalitiesChanged($event)"
        >
            
        <!--todo: study how @if, @for and track work -->
            <mat-select-trigger>
                {{nationalities.value?.[0] || ''}}
                @if ((nationalities.value?.length || 0) > 1) {
                <span class="example-additional-selection">
                    (+{{(nationalities.value?.length || 0) - 1}} {{nationalities.value?.length === 2 ? 'other' : 'others'}})
                </span>
                }
            </mat-select-trigger>
            @for (nationality of nationalitiesList; track nationality) {
                <mat-option [value]="nationality">{{nationality}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <input type="submit" value="Search">
</form>

