<mat-card class="user-intro-card">
    <mat-card-header>
        <img mat-card-image src="{{ userData.picture.large }}" alt="Profile picture">
    </mat-card-header>
    <mat-card-content>
        <h3>{{ userData.name.first }} {{ userData.name.last }}</h3>
        <p>{{ userData.location.city }} - <span class="country">{{ userData.location.country }}</span></p>
        <p><span class="intro-title">Email:</span><br>{{ userData.email }}</p>
        <p><span class="intro-title">Phone number:</span><br>{{ userData.cell }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openUserDetails()">See more</button>
    </mat-card-actions>
</mat-card>

