<main class="container">
    <h2>findyourpeople.com</h2>
    <p>Set your options, or click search to look for people right away</p>
    <app-options-search-form (parametersEvent)="getParameters($event)"></app-options-search-form>
    <section class="results" *ngIf="(users$ | async)?.results as users">
        <!--? | slice:startIndex:endIndex (1*5:(1+1)*5) = 5:10 -->
        <app-user-card *ngFor="let user of users | slice:pageIndex * pageSize:(pageIndex + 1) * pageSize"
            [userData]="user" (selectedUserEvent)="showUserDetails($event)"
        />
        <mat-paginator #paginator
            class="paginator"
            (page)="onPageEvent($event)"
            [length]="users.length"
            [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons"
            [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex"
            aria-label="Select page">
        </mat-paginator>
    </section>
    <app-user-details *ngIf="isUserDetailShown" [selectedUser]="selectedUser" />
</main>
